@charset "UTF-8";
/* Основные шрифты */
/* Основной цвет текста */
/* Основной цвет фона */
/* Основной маржин между соседними елементами */
/* Основной падинг между елементами */
/* Анимация */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials-pages {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials-pages__item {
  margin-right: 10px;
  text-align: center;
}
.socials-pages__item:last-child {
  margin-right: 0px;
}

.socials-pages__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-pages__item:hover .socials-pages__link, .socials-pages__item:focus .socials-pages__link {
  fill: #ffffff;
  background-color: #2196f3;
}

.socials-pages__icon {
  width: 20px;
  height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

/* Ссылки */
.link {
  display: block;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

/* Общий контейнер */
.conteiner {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

/* Кнопки */
.button {
  cursor: pointer;
  border: 1px solid transparent;
}

/* Хедер */
.header {
  background-color: #ffffff;
}

.header__conteiner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header__conteiner {
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

/* Текст лого */
.logo__text {
  color: #2196f3;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.logo.logo--dark {
  color: #000;
}

/* Навигация */
.nav__link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link.nav__link--current {
  position: relative;
  color: #2196f3;
  /* Синее подчеркивание */
}
.nav__link.nav__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 1;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

/* контакты */
.header__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header__list {
    flex-direction: column;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 0;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  padding: 31px 0 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover .header__contacts, .header__item:focus .header__contacts {
  color: #2196f3;
}
@media screen and (max-width: 1200px) {
  .header__contacts {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.contacts-icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */
.hero {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  padding-bottom: 200px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url("../images/background-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

/* Особенности */
.particular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.particular__list {
  display: flex;
  flex-wrap: nowrap;
}
.particular__list:last-child {
  margin-right: 0px;
}

.particular__item {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * var(--main-li-margin)) / 4);
}

.particular__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.particular__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.particular__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

.particular__item--front::before {
  display: block;
  height: 120px;
  content: "";
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.particular__item--front:nth-child(1)::before {
  background-image: url("../images/icon/particular-first-icon.svg");
}

.particular__item--front:nth-child(2)::before {
  background-image: url("../images/icon/particular-second-icon.svg");
}

.particular__item--front:nth-child(3)::before {
  background-image: url("../images/icon/particular-third-icon.svg");
}

.particular__item--front:nth-child(4)::before {
  background-image: url("../images/icon/particular-forth-icon.svg");
}

/* О нас */
.about {
  padding-bottom: 94px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.about__list {
  display: flex;
}

.about__item {
  padding: 0px;
  margin-right: 30px;
  flex-basis: calc((100% - 2 * var(--main-li-margin)) / 3);
}
.about__item:last-child {
  margin-right: 0px;
}

.about__photo-conteiner {
  position: relative;
}

.about__photo-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 24px 0px;
  font-style: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.own-card {
  background-color: #fff;
  border-radius: 4px;
  transition: box-shadow 250ms var(--timing-formating);
  margin-right: 30px;
  flex-basis: calc((100% - 3 * var(--main-li-margin)) / 4);
}
.own-card:last-child {
  margin-right: 0px;
}
.own-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}

.own__conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.own__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.own__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #757575;
  text-align: center;
}

.socials-pages {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials-pages__item {
  margin-right: 10px;
  text-align: center;
}
.socials-pages__item:last-child {
  margin-right: 0px;
}

.socials-pages__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-pages__item:hover .socials-pages__link, .socials-pages__item:focus .socials-pages__link {
  fill: #ffffff;
  background-color: #2196f3;
}

.socials-pages__icon {
  width: 20px;
  height: 20px;
}

/* Клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.clients__list {
  margin-top: 50px;
  list-style: none;
  display: flex;
}

.clients__item {
  margin-right: 30px;
  flex-basis: calc(100% - 25px);
}
.clients__item:last-child {
  margin-right: 0px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover .clients__link, .clients__item:focus .clients__link {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients__link-card {
  width: 106px;
  height: 60px;
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.logo__link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  width: 145px;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  width: 231px;
}

.address__location {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.address__contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts :hover, .address__contacts :focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Присоединяйтесь */
.footer-icons {
  margin-left: 70px;
}

.footer-icons__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}

.footer-icons__list {
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.footer-icons__item {
  margin-right: 10px;
  text-align: center;
}
.footer-icons__item:last-child {
  margin-right: 0px;
}

.footer-icons__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons__item:hover .footer-icons__link, .footer-icons__item:focus .footer-icons__link {
  background-color: #2196f3;
}

.footer-icons__card {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/* Форма в футере */
.footer-form {
  width: 570px;
  height: 86px;
  margin-left: 70px;
}

.footer-form__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form__label {
  margin-right: 12px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-sign__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2) rotate(180deg);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  padding: 9px 9px 10px 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  fill: black;
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal__icon, .modal-btn:focus .modal__icon {
  fill: #2196f3;
}

/* Форма ввода */
.form {
  padding: 40px;
  outline: 2px solid #000;
}

.form__text {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.form__group {
  display: block;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  color: #757575;
}

.form__submit {
  cursor: pointer;
  display: block;
  background-color: #2196f3;
  color: #fff;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  border: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form__input {
  position: relative;
}

.form__input-group {
  width: 100%;
  padding: 11px 0px 11px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-group:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}
.form__group:focus-within .form__input-group {
  outline: 1px solid #2196f3;
}

.form__input-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__group:focus-within .form__input-icon {
  fill: #2196f3;
}
.form__input-group:not(:placeholder-shown) + .form__input-icon {
  fill: #2196f3;
}

/* Чекбокс */
.form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox__input {
  width: 16px;
  height: 15px;
}

/* Иконка */
.form-checkbox__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox__input:checked + .form-checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form-checkbox__input:focus + .form-checkbox__icon {
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.form-checkbox__label {
  margin-left: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.form-checkbox__link {
  text-decoration: none;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

/* Комментарий */
.form-comment {
  display: block;
  margin-bottom: 20px;
}

.form-comment__label {
  color: #757575;
  margin-bottom: 4px;
}

.form-comment__textarea {
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment__textarea:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}
.form-comment:focus-within .form-comment__textarea {
  outline: 1px solid #2196f3;
}

/* Кнопки */
.portfolio__buttons-list {
  display: flex;
  justify-content: center;
}

.portfolio__buttons-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__buttons {
  font-style: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: var(--main-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  transition: background-color 250ms var(--timing-formating), color 250ms var(--timing-formating), box-shadow 250ms var(--timing-formating);
}
.portfolio__buttons:hover, .portfolio__buttons:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275), 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725), 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

/* Портфолио */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Проекты */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.portfolio__link {
  display: inline-block;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__link, .portfolio__item:focus .portfolio__link {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}

.portfolio__title-conteiner {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-radius: 1px;
}

/* Оверлэй */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio-thumb::after {
  transform: translateY(0);
}

.thumb-text {
  position: absolute;
  bottom: 0;
  translate: -50%, -50%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.portfolio__item:hover .thumb-text {
  transform: translateY(0);
}

.thumb-text__image {
  color: #fff;
  font-style: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.55;
  text-align: left;
  padding: 63px 24px;
}

.btn-menu {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu__open {
  opacity: 1;
}

.btn-menu__close {
  opacity: 0;
}

.btn-menu.is-active .btn-menu__open {
  opacity: 0;
}

.btn-menu.is-active .btn-menu__close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 48px 40px;
  overflow-y: scroll;
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu {
    width: 480px;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1607843137), 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725), 0px 4px 8px 0px rgba(0, 0, 0, 0.0392156863);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-nav {
  margin-bottom: 306px;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__link:hover {
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.mobile-socials__list {
  display: flex;
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-socials__link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-socials__link--after::after {
  content: "";
  width: 1px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */