/* Проекты */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  @media (max-width: 767px) {
    justify-content: center;
  }
}
.portfolio__item {
  margin-bottom: $main-li-margin;

  @media (min-width: 768px) {
    margin-right: $main-li-margin;
    flex-basis: calc((100% - $main-li-margin) / 2);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 2 * $main-li-margin) / 3);
  }
}
.portfolio__item:nth-child(2n) {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0px;
  }
}
.portfolio__item:last-child {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0px;
  }
}
.portfolio__item:nth-child(3n) {
  @media (min-width: 1200px) {
    margin-right: 0px;
  }
}
.portfolio__item:nth-last-child(-n + 3) {
  @media (min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.portfolio__title {
  @include fonts($fs: 18px, $fw: 700, $lh: 2, $ls: 0.06em);
  color: $main-color;
  margin-bottom: 4px;
}

.portfolio__text {
  @include fonts($fs: 16px, $fw: null, $lh: 1.9, $ls: null);
  color: $secondary-color;
}
.portfolio__link {
  display: inline-block;
  transition: box-shadow 250ms $timing-formating;

  .portfolio__item:hover &,
  .portfolio__item:focus & {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
      0px 1px 1px 0px #0000001f;
  }
}
.portfolio__title-conteiner {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-radius: 1px;
}
