/* О нас */
.about {
  padding-bottom: $main-padding;
  @include mq(notDesktop) {
    display: none;
  }
}
.about__title {
  @include fonts(36px, 700, 1.16, null);
  margin-bottom: 50px;
  text-align: center;
}
.about__list {
  display: flex;
}
.about__item {
  padding: 0px;
  margin-right: $main-li-margin;
  flex-basis: calc((100% - 2 * var(--main-li-margin)) / 3);

  &:last-child {
    margin-right: 0px;
  }
}

.about__photo-conteiner {
  position: relative;
}
.about__photo-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 24px 0px;
  font-style: $main-font;
  @include fonts($fw: 700, $lh: 1.14, $ls: null);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
