.btn-menu {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn-menu__open {
  opacity: 1;
}
.btn-menu__close {
  opacity: 0;
}
.btn-menu.is-active .btn-menu__open {
  opacity: 0;
}
.btn-menu.is-active .btn-menu__close {
  opacity: 1;
}
