/* Клиенты */
.clients {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  margin-right: auto;
  margin-left: auto;
}
.clients__title {
  @include fonts($fs: 28px, $fw: 700, $lh: 1.18);
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: 1200px) {
    @include fonts($fs: 36px, $fw: 700, $lh: 1.16);
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}
.clients__item {
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - $main-li-margin);

  @include mq(tablet) {
    flex-basis: calc(100% / 3 - $main-li-margin);
  }
  @include mq(desktop) {
    flex-basis: calc(100% / 6 - $main-li-margin);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  fill: #afb1b8;
  transition: fill 250ms $timing-formating, border 250ms $timing-formating;

  .clients__item:hover &,
  .clients__item:focus & {
    fill: $hover-color;
    border: 1px solid $hover-color;
  }
}
.clients__link-card {
  max-width: 106px;
  max-height: 60px;
}
