/* Футер */
.footer {
  background-color: $third-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.address-conteiner {
  @media (max-width: 480px) {
    text-align: center;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
.logo__link {
  display: inline-block;
  font-family: $secondary-font;
  color: #fff;
  @include fonts($fs: 26px, $fw: 700, $lh: 1.2, $ls: null);
  width: 145px;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    width: 154px;
  }
  @media (max-width: 767px) {
    width: 154px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 154px;
  }
}
.address {
  font-style: normal;
  width: 231px;

  @media (max-width: 480px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
    height: 100%;
  }
}

.address__location {
  display: inline-block;
  @include fonts($fw: null, $lh: 1.7, $ls: null);
  color: #ffffff;
  @media (max-width: 480px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
.address__contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $timing-formating;

  & :hover,
  & :focus {
    color: $hover-color;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Присоединяйтесь */
.footer-icons {
  margin-left: 70px;
  @media (max-width: 480px) {
    margin-left: 0;
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
.footer-icons__title {
  text-transform: uppercase;
  @include fonts($fw: null, $lh: 1.17, $ls: null);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;

  @media (max-width: 480px) {
    @include fonts($fs: 14px, $fw: 700, $lh: 1.14);
    text-align: center;
  }
  @media (max-width: 767px) {
    @include fonts($fs: 14px, $fw: 700, $lh: 1.14);
    text-align: center;
  }
}
.footer-icons__list {
  margin-top: 20px;
  list-style: none;
  display: flex;
}
.footer-icons__item {
  margin-right: 10px;
  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}

.footer-icons__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $timing-formating;

  .footer-icons__item:hover &,
  .footer-icons__item:focus & {
    background-color: $hover-color;
  }
}
.footer-icons__card {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
