/* Футер */
.footer {
  background-color: $third-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-conteiner {
  text-align: center;

  @include mq(tablet) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    justify-content: space-between;
  }
}

.address-conteiner {
  margin-bottom: 60px;
  @include mq(tablet) {
    margin-right: 165px;
  }
  @include mq(notDesktop) {
    justify-content: center;
  }

  @include mq(desktop) {
    margin-right: 70px;
    flex-grow: 1;
  }
}
.logo__link {
  display: inline-block;
  font-family: $secondary-font;
  color: #fff;
  @include fonts($fs: 26px, $fw: 700, $lh: 1.2);
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}

.address__location {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.address__contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $timing-formating;

  & :hover,
  & :focus {
    color: $hover-color;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Присоединяйтесь */
.footer-icons {
  margin-left: 0;
  margin-bottom: 60px;
  @include mq(tablet) {
    margin-bottom: 0;
  }
  @include mq(desktop) {
    margin-right: 93px;
  }
}
.footer-icons__title {
  text-transform: uppercase;
  @include fonts($fs: 14px, $fw: 700, $lh: 1.14);
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;

  @include mq(desktop) {
    @include fonts($fw: null, $lh: 1.17);
  }
}
.footer-icons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-icons__item {
  margin-right: 10px;
  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}

.footer-icons__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $timing-formating;

  .footer-icons__item:hover &,
  .footer-icons__item:focus & {
    background-color: $hover-color;
  }
}
.footer-icons__card {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
