/* Герой */
.hero {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: $third-background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(48, 48, 58, 0.4)
    ),
    url("../images/bcg-hero/background-hero_sm@1x.jpg");
  @include mq(retina) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(48, 48, 58, 0.4)
      ),
      url("../images/bcg-hero/background-hero_sm@2x.jpg");
  }
  @include mq(tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(48, 48, 58, 0.4)
      ),
      url("../images/bcg-hero/background-hero_md@1x.jpg");
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(48, 48, 58, 0.4)
        ),
        url("../images/bcg-hero/background-hero_md@2x.jpg");
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(48, 48, 58, 0.4)
      ),
      url("../images/bcg-hero/background-hero_lg@1x.jpg");
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(48, 48, 58, 0.4)
        ),
        url("../images/bcg-hero/background-hero_lg@2x.jpg");
    }
  }

  // @media screen and (min-width: 1200px)
  @include mq(desktop) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__title {
  display: block;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;

  // @media screen and (min-width: 1200px)
  @include mq(desktop) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: $hover-color;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
