// Стили к мобильное меню
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 0 15px 40px;
  overflow-y: scroll;

  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms $timing-formating;

  &.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
  }
  @include mq(mobile-only) {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px #00000029, 0px 2px 4px 0px #00000014,
      0px 4px 8px 0px #0000000a;
  }
  @include mq(tablet) {
    display: none;
  }
}

// моб навигация
.mobile-nav {
  margin-bottom: 306px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    color: #212121;
    @include fonts($fs: 40px, $fw: 500, $lh: 1.17);
    transition: color 250ms $timing-formating;
    &:hover {
      color: $hover-color;
    }
  }
}
.mobile-nav__link--current {
  color: $hover-color;
}
.mobile-contacts {
  margin-bottom: 64px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    color: $secondary-color;
    @include fonts($fs: 24px, $fw: 500, $lh: 1.16);
    transition: color 250ms $timing-formating, font-size 250ms $timing-formating;

    &:hover {
      color: $hover-color;
      @include fonts($fs: 34px);
    }
  }
}
.mobile-socials__list {
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
  margin-right: -10px;
  margin-bottom: -10px;
}
.mobile-socials__item {
  margin-right: 10px;
  margin-bottom: 10px;
}
.mobile-socials__link {
  color: $hover-color;
  @include fonts($fs: 18px, $fw: 500, $lh: 1.2);
}
.mobile-socials__link--after::after {
  content: "";
  width: 1px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
