/* Наша команда */

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: $main-padding;
    padding-bottom: $main-padding;
  }
}
.team__title {
  @include fonts($fs: 36px, $fw: 700, $lh: 1.16);
  text-align: center;
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    @include fonts($fs: 28px, $fw: 700, $lh: 1.17);
    margin-bottom: 30px;
  }
}
.team__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.own-card {
  margin-bottom: 30px;
  background-color: $secondary-background-color;
  border-radius: 4px;
  transition: box-shadow 250ms $timing-formating;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
  @media (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: $main-li-margin;
    flex-basis: calc((100% - 3 * $main-li-margin) / 4);
  }

  &:last-child {
    margin-bottom: 0;
    @media (min-width: 1200px) {
      margin-right: 0;
    }
  }
  &:hover {
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
      0px 1px 3px 0px #0000001f;
  }
}

.own-card:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}
.own-card:nth-child(n + 3) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.own__name {
  @include fonts($fs: 16px, $lh: 1.19);
  text-align: center;
  margin-bottom: 10px;
}
.own__text {
  @include fonts($fw: 400, $fs: 16px, $lh: 1.17);
  color: $secondary-color;
  text-align: center;
  @media (min-width: 1200px) {
    @include fonts($fw: 500, $fs: 16px, $lh: 1.17);
  }
}
.own__conteiner {
  padding-top: 16px;
  padding-bottom: 24px;

  @media (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.socials-pages {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socials-pages__item {
  margin-right: 10px;
  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}

.socials-pages__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms $timing-formating,
    fill 250ms $timing-formating;

  .socials-pages__item:hover &,
  .socials-pages__item:focus & {
    fill: #ffffff;
    background-color: $hover-color;
  }
}
.socials-pages__icon {
  width: 20px;
  height: 20px;
}
