/* Чекбокс */
.form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.form-checkbox__input {
  width: 16px;
  height: 15px;
}

/* Иконка */
.form-checkbox__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms $timing-formating,
    background-image 250ms $timing-formating;

  .form-checkbox__input:checked + & {
    border-color: $hover-color;
    background-color: $hover-color;
    background-image: url(../images/icon/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
  .form-checkbox__input:focus + & {
    border: 2px solid $hover-color;
    border-radius: 2px;
  }
}

.form-checkbox__label {
  margin-left: 7px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;

  @media screen and (max-width: 479px) {
    font-size: 9px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form-checkbox__link {
  text-decoration: none;
  color: $hover-color;
  border-bottom: 1px solid #2196f3;
}
