/* Комментарий */
.form-comment {
  margin-bottom: 20px;
  padding: 12px;
}
.form-comment__label {
  color: $secondary-color;
  margin-bottom: 4px;
}
.form-comment__textarea {
  display: block;
  width: 100%;
  // min-height: 120px;
  resize: none;
  padding: 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: outline 250ms $timing-formating;
  @include mq(notDesktop) {
    max-height: 100px;
  }

  &:not(:placeholder-shown) {
    border: 1px solid $hover-color;
  }
  .form-comment:focus-within & {
    outline: 1px solid $hover-color;
  }
}
