/* Комментарий */
.form-comment {
  display: block;
  margin-bottom: 20px;
}
.form-comment__label {
  color: $secondary-color;
  margin-bottom: 4px;
}
.form-comment__textarea {
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: outline 250ms $timing-formating;

  @media (max-width: 480px) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) and (maax-width: 1199px) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }

  &:not(:placeholder-shown) {
    border: 1px solid $hover-color;
  }
  .form-comment:focus-within & {
    outline: 1px solid $hover-color;
  }
}
